html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overscroll-behavior: contain;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #707793;
  color: white;
}
